.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg);
}

.auth {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary);
  border-radius: 6px;
  box-shadow: var(--shadow);
  gap: 0.5rem;
  padding: 1rem 0;
}

.title {
  font-size: 2rem;
}
.input-label {
  width: 100%;
  font-size: 1.3rem;
}
.wrapper-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 0.2rem;
}

.wrapper-password-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
}

.wrapper-password-text {
  display: flex;
  flex-direction: row;
}

.input-text {
  width: 100%;
  border: 2px solid var(--primary);
  border-radius: 4px;
  font-size: 1.3rem;
  padding: 0 0.2rem;
}

.input-text:focus {
  outline: none;
  box-shadow: 0px 0px 6px -1px var(--primary);
}

.btn-auth {
  padding: 0.5rem 1rem;
}

/* Tooltip */
.tooltip {
  background-color: black;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2px;
}

.tooltiptext {
  visibility: hidden;
  width: 30vw;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 0%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 800px) {
  .bg {
    overflow-x: hidden;
  }
  .auth {
    width: 80vw;
  }
}

@media (max-width: 500px) {
  .title {
   text-align: center;
  }
}

@media (max-width: 450px) {
  .auth {
    width: 90vw;
  }
  .input-text {
    width: 80%;
  }
  .input-label, .wrapper-password-text {
    width: 80%;
  }
}

@media (max-width: 350px) {
  .input-text {
    width: 80%;
  }
  .input-label, .wrapper-password-text {
    width: 80%;
  }
  .auth {
    width: 95vw;
  }
}

