.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.menu {
  box-shadow: var(--shadow);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 40vw;
  gap: 1rem;
}

.list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 60%;
  overflow-y: auto;
}

.language-li {
  list-style: none;
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.2rem 1.5rem;
  border: 2px solid var(--main);
  border-radius: 4px;
  font-size: 1.2rem;
  min-width: 20vw;
  transition: 300ms;
  gap: 0.5rem;
}

.language-li:focus-visible     {
  outline: 1.3px solid var(--main);
  transition: 100ms;
}

.input-project {
  width: 80%;
  font-size: 1rem;
  border-radius: 3px;
  outline: none;
  border: 2px solid var(--main);
  padding: 2px;
  outline: none;
  transition: all 300ms linear;
}

.input-project:focus {
  transform: scale(1.025);
  transition: all 300ms linear;
}

.wrapper-edit-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-project {
  background-color: var(--secondary);
  color: white;
  transform: scale(1.025);
  transition: 300ms;
}

.edit-btn, .delete-btn {
  transition: 300ms;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

.edit-btn:hover, .delete-btn:hover {
  transform: scale(1.1);
  transition: 300ms;
}

