.menu {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-new-project {
  background-color: var(--bg-secondary);
  box-shadow: var(--shadow);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 40vw;
  gap: 1rem;
}

.label {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.input {
  border: 2px solid black;
  border-radius: 6px;
  padding: 0 0.1rem;
  width: 60%;
  height: 10%;
  font-size: 1.2rem;
  transition: 300ms;
  outline: none;
}
.input:focus {
    transform: scale(1.05);
    transition: 300ms;
}

.wrapper-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.btn {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

@media (max-width:800px) {
  .form-new-project {
    width: 80vw;
  }
}