@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Hind+Madurai&family=Roboto&display=swap");

:root {
  --font: -apple-system, BlinkMacSystemFont, "Poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  --second-font: "Hind Madurai", "Poppins","Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  --nav-height: 7vh;
  --main-height: 92vh;
  --create-menu-width: 25vw;
  --main-width: 75vw;
  --red: #cc3939;
  --red-hover: #ba3434;
}

html[data-color-scheme="light"] {
  color-scheme: light;
  --bg: #f8f8f8;
  --bg-secondary: white;
  --bg-secondary-selected: #eeeeee;
  --bg-tertiary: white;
  --bg-tertiary-selected: #f2f2f293;
  --primary: #7a69bf;
  --primary-hover: #564a87;
  --secondary: #BB2CDB;
  --tertiary: #3f2d63;
  --quaternary: #843ecc;
  --quintary: #1b1725;
  --color-text: white;
  --main: black;
  --shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.5);
  --shadow-item: 0px 2px 5px 1px rgba(0, 0, 0, 0.295);
  --shadow-primary: 0px 2px 4px 0px var(--primary);
}
html[data-color-scheme="dark"] {
  color-scheme: dark;
  --bg: #121212;
  --bg-secondary: #242424;
  --bg-secondary-selected: #414141;
  --bg-tertiary: #303030;
  --bg-tertiary-selected: #464646;
  --primary: #9984f0;
  --primary-hover: #b5a4ff;
  --secondary: #9a5db9;
  --tertiary: #3f2d63;
  --quaternary: #843ecc;
  --quintary: #1b1725;
  --color-text: black;
  --main: white;
  --shadow: 0px 0px 12px -3px rgba(34, 34, 34, 0.5);
  --shadow-item: 0;
  --shadow-primary: 0;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
