.nav {
  height: var(--nav-height);
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1;
}

.wrapper-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.current-project {
  max-width: 30vw;
}

.btn-logout {
  background-color: var(--bg-secondary);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  box-shadow: var(--shadow-primary);
  color: var(--primary);
  transition: all 200ms;
}

.btn-logout:hover {
  box-shadow: var(--shadow-primary);
  color: var(--primary-hover);
  transition: all 200ms;
  background-color: var(--bg-secondary-selected);
}

