.dropdown {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  position: relative;
  padding: 0.1rem;
  height: 4vh;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.display-dropdown {
  display: flex !important;
  flex-direction: column;
  box-shadow: var(--shadow-primary);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-secondary);
  min-width: 100px;
  z-index: 1;
  top: 100%;
  left: 0;
}

.display-dropdown {
  display: flex !important;
  flex-direction: column;
  box-shadow: var(--shadow-primary);
}

.nav-btn {
  border: none;
  font-size: 1.2rem;
  min-width: 200px;
  background-color: var(--bg-secondary);
  padding: 0.3rem 0.2rem;
  text-align: left;
  position: relative;
}
.nav-btn:hover {
  background-color: var(--bg-secondary-selected);
}

.active::after {
  content: "\2714";
  position: absolute;
  top: 10%;
  right: 5%;
}
