.wrapper-search {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 2px solid var(--secondary);
  background-color: var(--bg-secondary);
  border-radius: 8px;
  padding: 2px;
  max-width: 200px;
}

.search-bar {
  height: 20px;
  width: 80%;
  font-size: 1rem;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 2px;
  outline: none;
  font-family: var(--font);
  background-color: var(--bg-secondary);
}

.search-bar::placeholder {
  font-style: italic;
}

.search-icon {
  background-color: var(--bg-secondary);
  transition: transform 300ms;
}
.search-icon:hover {
  transform: scale(1.1);
  transition: transform 300ms;
}

.focus {
  box-shadow: 0px 0px 4px -1px var(--secondary);
  transition: all 100ms linear;
}

.dropdown {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  position: relative;
  padding: 0.1rem;
  height: 4vh;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-secondary);
  min-width: 100px;
  z-index: 1;
  top: 100%;
  left: 0;
}

.display-dropdown {
  display: flex !important;
  flex-direction: column;
  box-shadow: var(--shadow-primary);
}
