.title {
  font-size: 2.3rem;
}

.wrapper-theme {
  text-align: center;
  display: flex;
  gap: 1rem;
}

.wrapper-language {
  width: 80%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.language-select {
  width: 30%;
}
@media (max-width: 750px) {
  .wrapper-language {
    flex-direction: column;
  }
  .language-select {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .language-select {
    width: 80%;
  }
}

@media (max-width: 300px) {
  .title {
    font-size: 1.5rem;
  }
}
