.label {
  width: 100%;
}

.input-share {
  outline: none;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 2px solid var(--secondary);
  padding: 0.2rem;
}
.input-share:focus {
  box-shadow: var(--shadow-secondary);
}

.wrapper-btns {
  display: flex;
  gap: 2rem;
  margin: 0.4rem;
}

.btn {
  padding: 0.4rem 1.1rem;
  background-color: var(--bg-secondary);
  font-size: 1.3rem;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #424242;
}

.btn:hover {
  background-color: var(--bg-secondary-selected);
}

.btn-confirm {
  border: none;
  background-color: var(--primary);
  color: white;
}

.btn-confirm:hover {
  background-color: var(--primary-hover);
}
